<app-admin-navbar></app-admin-navbar>
<div class="container" style="margin-top:20px;">
    <!-- <div>
        <h2>Add New Flight Details</h2>
    </div> -->
    <div class="mat-card-cvr">
        <mat-card>
            <mat-card-title>Add New Flight Details</mat-card-title>
            <mat-card-actions>
                <table>
                    <tr>

                        <td>
                            <label for="">Flight Number</label>
                            <input type="number" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.flightNumber">
                        </td>



                        <td>
                            <label for="">Air Line Name</label>
                            <!-- <input type="text" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.airLineName"> -->
                            <select name="" id="" class="form-control" [(ngModel)]="newFlightDetail.airlineId">
                                <option value="0">--Select AirLine--</option>
                                <option *ngFor="let airlineObj of airLineDetails" [value]="airlineObj.airline_id">
                                    {{ airlineObj.airline_name }}
                                </option>
                            </select>
                        </td>



                        <td>
                            <label for="">From</label>
                            <select name="" id="" class="form-control" [(ngModel)]="newFlightDetail.flyFrom">
                                <option value="0">--Select City--</option>
                                <option *ngFor="let fromCity of cities" [value]="fromCity.cityId">
                                    {{"(" + fromCity.cityShortName + " ) " + fromCity.cityName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <label for="">To</label>
                            <select name="" id="" class="form-control" [(ngModel)]="newFlightDetail.flyTo">
                                <option value="0">--Select City--</option>
                                <option *ngFor="let toCity of cities" [value]="toCity.cityId">
                                    {{"(" + toCity.cityShortName + " ) " + toCity.cityName}}
                                </option>
                            </select>
                        </td>



                        <td>
                            <label for="">Start Date</label>
                            <input type="datetime-local" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.startDate">
                        </td>



                        <td>
                            <label for="">End Date</label>
                            <input type="datetime-local" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.endDate">
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <label for="">Instrument Used</label>
                            <input type="text" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.stops">
                        </td>



                        <td>
                            <label for="">Total Business Seats Available</label>
                            <input type="number" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.totalBusinessSeats">
                        </td>



                        <td>
                            <label for="">Total Non Business Seats Available</label>
                            <input type="number" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.totalNonBusinessSeats">
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <label for="">Tickt Cost</label>
                            <input type="number" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.ticketCost">
                        </td>



                        <td>
                            <label for="">Meals Provided</label>
                            <input type="text" placeholder="Enter value" class="form-control"
                                [(ngModel)]="newFlightDetail.meal">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="submit" name="" id="" class="btn btn-success col-12" value="Add Flight"
                                (click)="addInventory()">
                        </td>
                    </tr>
                </table>
            </mat-card-actions>
        </mat-card>
    </div>
</div>