/* .example-container {
    width: auto;
    height: 100%;
    background-color: white;
}

.example-sidenav-content {
    display: fle
    x;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
    .navbar-brand{
        padding-left: 20px;
    }
    mat-list-item{
        cursor: pointer !important;
    }
} */
.navbar>.container-fluid{
    justify-content: space-between !important;
}
.form-control{
    line-height:0px
}
#dataTable{
    width: 100%;
}
.manageScreens > div > table > tr > td{
    padding-bottom: 20px;
}
.manageScreens{
    padding-top:20px;
}
.selectDropdown{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    outline: none;
}