<app-user-navbar></app-user-navbar>
<nav class="navbar sticky-top bg-light">
    <div class="container-fluid d-flex justify-content-evenly">
        <form class="d-flex justify-content-evenly" role="search" [formGroup]="validation">
            <!-- <input class="form-control me-2" type="search" placeholder="From" aria-label="Search"> -->
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="From" formControlName="flyFrom"
                    [ngStyle]="{'border-color' : isValidationError('flyFrom') ? 'red' : '#ced4da' }">
                <label for="floatingInput">From<small>*</small></label>
                <!-- <small *ngIf="isValidationError('flyFrom')" style="color:red;">Required</small> -->
            </div>
            <div class="form-floating" style="margin: auto ;">
                <button class="btn"><i class="bi bi-arrow-left-right"></i></button>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="To" formControlName="flyTo"
                    [ngStyle]="{'border-color' : isValidationError('flyTo') ? 'red' : '#ced4da' }">
                <label for="floatingInput">To<small>*</small></label>
                <!-- <small *ngIf="isValidationError('flyTo')" style="color:red;">Required</small> -->
            </div>
            <!-- <div class="form-floating" style="margin-left:30px;">
                <input type="date" class="form-control" id="floatingInput" placeholder="Depart"
                    formControlName="startDate"
                    [ngStyle]="{'border-color' : isValidationError('startDate') ? 'red' : '#ced4da' }">

                <label for="floatingInput">Depart<small>*</small></label>
                <small *ngIf="isValidationError('startDate')" style="color:red;">Required</small>
            </div> -->

            <!-- <input matInput [matDatepicker]="picker" formControlName="startDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> -->

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div class="form-floating" style="margin: auto;margin-left: 30px;">
                <button class="btn btn-outline-success" type="submit" (click)="searchFlight()">Search</button>
            </div>
        </form>
    </div>
</nav>
<div class="container">
    <mat-card *ngFor="let flightObject of flightDetails">
        <mat-card-title><i class="bi bi-airplane-engines"></i> {{flightObject.airLineName}}</mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
        <mat-card-content>
            <div class="bodyContents">
                <span>
                    <div class="topRowStyles">
                        <!-- {{flightObject.startDate | date}},  -->
                        {{flightObject.startDate | date:"HH:mm"}}
                    </div>
                    <div>{{flightObject.flyFrom}}</div>
                </span>
                <span>
                    <div>&nbsp;</div>
                    <div style="border-bottom:1px solid pink;width: 100px;"></div>
                </span>
                <span>
                    <div class="topRowStyles">
                        <span>
                            {{getDays(flightObject)}}
                            {{getHours(flightObject)}}
                            {{getMinutes(flightObject)}}
                        </span>
                    </div>
                    <div> <small>Non stop</small></div>
                </span>
                <span>
                    <div>&nbsp;</div>
                    <div style="border-bottom:1px solid pink;width: 100px;"></div>
                </span>
                <span>
                    <div class="topRowStyles">
                        <!-- {{flightObject.endDate | date}},  -->
                        {{flightObject.endDate | date:"HH:mm"}}
                    </div>
                    <div>{{flightObject.flyTo}}</div>
                </span>
                <span>
                    <div class="priceCol topRowStyles">
                        {{flightObject.ticketCost | currency:"INR"}}
                    </div>
                    <div>
                        <button mat-stroked-button style="color:rgb(199, 131, 5);">View More</button>
                    </div>
                </span>
            </div>
        </mat-card-content>
    </mat-card>
</div>