.form-floating{
    width: 200px;
    margin: auto 5px;
}
/* img{
    -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5)
} */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}