<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;z-index: -1 !important;">
  <div class="container-fluid">
    <a class="navbar-brand">{{navBarTitleName}}</a>
    <div class="collapse navbar-collapse" id="navbarNav" *ngIf="isUserLoggedIn">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" routerLink="/user/searchFlight">Search Flight</a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link active" aria-current="page" routerLink="/">Add Flight</a> -->
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <button class="btn btn-sm btn-primary" routerLink="/user" (click)="logOut()">Logout</button>
        </li>
        <li class="nav-item" *ngIf="!isUserLoggedIn">
          <button class="btn btn-sm btn-primary" (click)="showSignUpCard()">SignUp</button>
          &nbsp;
          <button class="btn btn-sm btn-primary" (click)="showSignInCard()">SignIn</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="!isUserLoggedIn">
  <app-sign-up *ngIf="!showLoginCard" (registerEmitter)="signUp()"></app-sign-up>
  <app-sign-in *ngIf="showLoginCard" (loginEmitter)="signIn()"></app-sign-in>
</div>