<div class="container-fluid text-center">
    <main class="form-signin w-100 m-auto">
        <form>
            <img src="assets/plane.png" alt="plane" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Please Register</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="First Name">
                <label for="floatingInput">Full Name</label>
            </div>
            <div class="form-floating">
                <input type="number" class="form-control" id="floatingPassword"  placeholder="Mobile NUmber">
                <label for="floatingPassword">Mobile Number</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="ABC@Gmail.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" >
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-success" type="submit" (click)="register()">Sign Up</button>
        </form>
    </main>
</div>