<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Manage Riders</a>
                </li>
                <form class="d-flex" role="search" *ngIf="!isAdd && !isEdit && !isDelete">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </ul>
        </div>
        <div></div>
        <div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" (click)="showAddCard()"><i
                        class="bi bi-plus-circle"></i></button>
                <button type="button" class="btn btn-primary" (click)="showEditCard()"><i
                        class="bi bi-pencil-square"></i></button>
                <button type="button" class="btn btn-primary" (click)="showDeleteCard()"><i
                        class="bi bi-trash3-fill"></i></button>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div *ngIf="!isAdd && !isEdit && !isDelete">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="dataTable">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <div class="manageScreens">
        <h3 (click)="back()" *ngIf="isAdd || isEdit || isDelete"><i class="bi bi-backspace-fill"></i> Back</h3>
        <div *ngIf="isAdd" align="center">
            <h1>Add Bike</h1>
            <table>
                <tr>
                    <td>Bike Id </td>
                    <td><input class="form-control me-2" type="number" placeholder="Bike Id" required></td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td><input class="form-control me-2" type="text" placeholder="Location" required></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="bi bi-plus-circle"></i> Add
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="isEdit" align="center">
            <h1>Edit Bike</h1>
            <table>
                <tr>
                    <td>Bike Id</td>
                    <td><input class="form-control me-2" type="number" placeholder="Bike Id" required></td>
                </tr>
                <tr>
                    <td>Modification</td>
                    <td>
                        <select name="" id="" class="selectDropdown" (change)="change($event.target)">
                            <option value="">---select---</option>
                            <option [value]="x.value" *ngFor="let x of reasonsList">{{x.name}}</option>
                        </select>
                    </td>
                </tr>
                <tr *ngIf="selectedValue == 0">
                    <td></td>
                    <td><input class="form-control me-2" type="text" placeholder="Type other reasons here"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="bi bi-check-circle"></i> Save
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="isDelete" align="center">
            <h1>Delete Bike</h1>
            <table>
                <tr>
                    <td>Bike Id</td>
                    <td><input class="form-control me-2" type="number" placeholder="Bike Id" required></td>
                </tr>
                <tr>
                    <td>Reason</td>
                    <td>
                        <textarea name="" id="" cols="30" rows="3" placeholder="Type Reason..." required class="selectDropdown"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="button" class="btn btn-success btn-sm">
                            <i class="bi bi-trash3-fill"></i> Delete
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div></div>
    </div>
</div>

<!-- <app-dialog-message></app-dialog-message> -->
