<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item" *ngIf="isEmailBlock || isBlockDiv">
                    <a class="nav-link"><i class="bi bi-backspace-fill"></i> Back</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link">Manage Locations</a>
                </li>
            </ul>
        </div>
        <!-- <div></div> -->
        <div class="addLocationBlock" *ngIf="addOrCancel == 'Cancel'">
            <input type="text" placeholder="Location Name" required>
            <input type="text" placeholder="No. of bikes" required>
            <button type="button" class="btn btn-success btn-sm" (click)="addNewLocation()">
                <i class="bi bi-plus-circle"></i> Add
            </button>
        </div>
        <button type="button" class="btn btn-primary btn-sm" (click)="showAddLocation()" *ngIf="addOrCancel != 'Cancel'">
            <i class="bi bi-plus-circle"></i> {{addOrCancel}}
        </button>
        <button type="button" class="btn btn-danger btn-sm" (click)="showAddLocation()" *ngIf="addOrCancel == 'Cancel'">
            <i class="bi bi-x-circle"></i> {{addOrCancel}}
        </button>
    </div>
</nav>

<div class="container-fluid">
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="dataTable">

            <ng-container *ngFor="let x of displayedColumns" [matColumnDef]="x">
                <th mat-header-cell *matHeaderCellDef> {{x}} </th>
                <span *ngIf="x != 'Action'">
                    <td mat-cell *matCellDef="let element">{{element[x]}}</td>
                    <!-- <td mat-cell *matCellDef="let element">
                        <input type="text" [value]="element[x]">
                    </td> -->
                </span>
                <span *ngIf="x == 'Action'">
                    <td mat-cell *matCellDef="let element">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="bi bi-pencil-square"></i></button>
                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="bi bi-trash3-fill"></i></button>
                        </div>
                    </td>
                </span>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>