.header-nav > ul{
    padding: 10px;
    border-bottom: 1px solid black;
}
.title{
    font-size: 30px;
}
mat-list-item{
    cursor: pointer;
}
.left-content{
    width: 20%;
    height: 100%;
    float:left;
}
.right-content{
    padding: 30px 100px;
    width: 80%;
    height: 100%;
    border-left: 1px solid black;
    float:right;
}
