table{
    width: 100%;
}
th{
    background-color: rgb(66, 134, 197);
    color: white;
    font-weight: 500;
    height: 10px !important;
}
td , th{
    text-align: center !important;
    padding: 0px 10px !important;
}
.edit{
    border-color: orange;
    width: 80px;
    margin: 0px 0px 10px 10px;
}
.delete{
    border-color: red;
    width: 80px;
    margin: 0px 0px 10px 10px;
}
i{
    cursor: pointer;
    font-size: medium;
}