<app-admin-navbar></app-admin-navbar>
<div class="container-fluid" style="margin-top: 20px;" *ngIf="isLoggedIn">
  <div style="float: left;">
    <h2>Flight Details</h2>
  </div>
  <div style="float: right;" class="buttonsGroup">
    <button class="btn btn-sm edit" (click)="isEditEnable()">Edit</button>
    <button class="btn btn-sm delete" (click)="isDeleteEnable()">Delete</button>
  </div>
  <div>
    <!-- <mat-progress-spinner
        class="example-margin"
        mode="indeterminate">
    </mat-progress-spinner> -->
    <mat-progress-bar mode="buffer" *ngIf="!dataSource" class="progressBar"></mat-progress-bar>
    <span *ngIf="dataSource && dataSource.length == 0">No Flights added</span>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource && dataSource.length > 0">
      <ng-container *ngFor="let displayColObj of columnNamesManage">
        <ng-container [matColumnDef]="displayColObj.column">
          <th mat-header-cell *matHeaderCellDef>
            <span>
              {{displayColObj.displayLabel}}
            </span>
          </th>
          <td mat-cell *matCellDef="let element ;let i = index" [formGroup]="validation">
            <span
              *ngIf="i != editElementId || displayColObj.column == ['flightNumber']">{{element[displayColObj.column]}}
            </span>
            <span *ngIf="i == editElementId && showEditBox(displayColObj.column , ['startDate','endDate'])">
              <input type="datetime-local" class="form-control" [formControlName]="displayColObj.column"
              [ngStyle]="{'border-color' : isValidationError(displayColObj.column) ? 'red' : '#ced4da' }">
            </span>
            <span *ngIf="i == editElementId && showEditBox(displayColObj.column , ['toCityName','fromCityName'])">
              <!-- <mat-select name="" id="" class="form-control" disableOptionCentering [formControlName]="displayColObj.column"
              [ngStyle]="{'border-color' : isValidationError(displayColObj.column) ? 'red' : '#ced4da' }">
                <mat-option  *ngFor="let citiesObj of cities" [attr.value]="citiesObj.cityId" 
                [attr.selected]="this.validation.get(displayColObj.column).value == citiesObj.cityId  ? true : null">
                  {{"(" + citiesObj.cityShortName + " ) " + citiesObj.cityName}}
                </mat-option>
              </mat-select> -->
              <mat-select name="" id="" [formControlName]="displayColObj.column" class="form-control"
                    [ngStyle]="{'border-color' : isValidationError(displayColObj.column) ? 'red' : '#ced4da' }"
                    disableOptionCentering>
                    <mat-option *ngFor="let citiesObj of cities" [value]="citiesObj.cityId">
                        {{citiesObj.cityName + " ( " + citiesObj.cityShortName + " )"}}
                    </mat-option>
                </mat-select>
            </span>
            <span *ngIf="i == editElementId && showEditBox(displayColObj.column , ['airline_name'])">
              <mat-select name="" id="" class="form-control" disableOptionCentering [formControlName]="displayColObj.column"
              [ngStyle]="{'border-color' : isValidationError(displayColObj.column) ? 'red' : '#ced4da' }">
                <mat-option *ngFor="let airlineObj of airLineDetails" [value]="airlineObj.airline_id">
                  {{ airlineObj.airline_name }}
                </mat-option>
              </mat-select>
            </span>
            <span
              *ngIf="i == editElementId && 
              showEditBox(displayColObj.column , ['stops','totalBusinessSeats','totalNonBusinessSeats','ticketCost','meal'])">
              <input type="text" class="form-control" [formControlName]="displayColObj.column"
              [ngStyle]="{'border-color' : isValidationError(displayColObj.column) ? 'red' : '#ced4da' }">
            </span>
            <i class="bi bi-pencil-square" *ngIf="displayColObj.column == 'actions' && isEdit && (i != editElementId)"
              (click)="edit(i, element)" title="Edit Record"></i>

            <span style="display: flex; justify-content: space-between;"
              *ngIf="displayColObj.column == 'actions' && isEdit && i == editElementId">
              <i (click)="cancel()">
                <i class="bi bi-x-circle-fill" title="Cancel"></i>
              </i>
              <i (click)="saveChanges(element)">
                <i class="bi bi-check-circle-fill" title="Save Changes"></i>
              </i>
            </span>
            <!-- <span style="display: flex; justify-content: space-between;">
              <i *ngIf="displayColObj.column == 'actions' && isEdit && i == editElementId" (click)="cancel()">
                <i class="bi bi-x-circle-fill" title="Cancel"></i>
              </i>
              <i *ngIf="displayColObj.column == 'actions' && isEdit && i == editElementId"
                (click)="saveChanges(element)">
                <i class="bi bi-check-circle-fill" title="Save Changes"></i>
              </i>
            </span> -->
            <i *ngIf="displayColObj.column == 'actions' && isDelete" (click)="delete(element.flightNumber)">
              <i class="bi bi-trash" title="Delete Record"></i>
            </i>
          </td>
        </ng-container>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>