<div class="header-nav">
    <ul class="nav" style="justify-content: space-between;">
        <li class="nav-item">
            <span class="material-icons" style="padding-left:110px;">directions_bike</span>
        </li>
        <li class="nav-item">
            <span class="nav-link active" class="title">{{title}}</span>
        </li>
        <li class="nav-item">
        </li>
    </ul>
</div>
<div class="main-content">
    <div class="left-content">
        <mat-selection-list #shoes [multiple]="false" style="text-align:center;">
            <mat-list-option routerLink="/login">
              Login
            </mat-list-option>
            <mat-list-option routerLink="/signup">
              Sign up
            </mat-list-option>
            <mat-list-option routerLink="/aboutus">
              About us
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="right-content">
        <form>
            <h2>Registration</h2>
            <div class="mb-3">
                <label for="fName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="fName" required>
            </div>
            <div class="mb-3">
                <label for="lName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lName" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone number</label>
                <input type="phone" class="form-control" id="phone" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" required>
            </div>
            <button type="submit" class="btn btn-primary">Signup / Register</button>
        </form>
    </div>
</div>