<!-- <mat-drawer-container class="example-container" autosize>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div style="display: flex;">
                <mat-icon (click)="drawer.toggle()">menu</mat-icon>
                <span style="padding-top: 3px;padding-left: 15px;">Manage Riders</span>
            </div>
            <div class="navbar-brand" style="padding-left: 150px;">Smart Mobility</div>
            <div></div>
            <div></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <mat-drawer #drawer class="example-sidenav" mode="over">

        <mat-list role="list">
            <mat-list-item role="listitem" routerLink="/home" (click)="drawer.toggle()">Home
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="/manage-riders" (click)="drawer.toggle()">Manage Riders
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="/manage-bikes" (click)="drawer.toggle()">Manage Bikes
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="/Ride-History" (click)="drawer.toggle()">Ride History
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="/Rider-Issues" (click)="drawer.toggle()">Rider Issues
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="/Manage-Locations" (click)="drawer.toggle()">Manage Locations
            </mat-list-item>
        </mat-list>

    </mat-drawer>
</mat-drawer-container> -->
<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
      <div>manideep</div>
      <div>talampally</div>
    </div>
  </nav> -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">Manage Riders</a>
                </li>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <!-- <form class="container-fluid">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            aria-describedby="basic-addon1">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"
                                style="cursor:pointer;"></i></span>
                    </div>
                </form> -->
            </ul>
        </div>
        <div></div>
        <div>
            <button type="button" class="btn btn-primary btn-sm" (click)="showMailDiv()">
                <i class="bi bi-envelope-fill"></i> Email
            </button>
            &nbsp;
            <button type="button" class="btn btn-primary btn-sm" (click)="showBlockDiv()">
                <i class="fa fa-ban"></i> Block
            </button>
        </div>
    </div>
</nav>
<div *ngIf="!isEmailBlock && !isBlockDiv">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="dataTable">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="riderMailDiv" align="center" *ngIf="isEmailBlock">
    <h1>Send Email To Rider</h1>
    <table>
        <tr>
            <td>Email Id</td>
            <td><input class="form-control me-2" type="email" placeholder="Email Id" required></td>
        </tr>
        <tr>
            <td>Subject</td>
            <td><input class="form-control me-2" type="text" placeholder="Subject" required></td>
        </tr>
        <tr>
            <td>Message body</td>
            <td><input class="form-control me-2" type="text" placeholder="Message body" required></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-success btn-sm">
                    <i class="bi bi-check-circle"></i> Send
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger btn-sm" (click)="hideMailDiv()">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
            </td>
        </tr>
    </table>
</div>


<div class="riderMailDiv" align="center" *ngIf="isBlockDiv">
    <h1>Block Rider</h1>
    <table>
        <tr>
            <td>Rider Id</td>
            <td><input class="form-control me-2" type="number" placeholder="Subject" required></td>
        </tr>
        <tr>
            <td>Reason For blocking</td>
            <td><input class="form-control me-2" type="text" placeholder="Message body" required></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-success btn-sm">
                    <i class="bi bi-check-circle"></i> Send
                </button>
                &nbsp;
                <button type="button" class="btn btn-danger btn-sm" (click)="hideBlockDiv()">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
            </td>
        </tr>
    </table>
</div>