
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div style="display: flex;">
            <span style="padding-top: 3px;padding-left: 15px;">Dashboard</span>
        </div>
        <div></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div style="text-align:center;">
    <h2>Our Services</h2>
    <img src="" alt="img">
</div>
