<div class="container-fluid text-center">
    <main class="form-signin w-100 m-auto">
        <form  [formGroup]="loginValidation">
            <img src="assets/plane.png" alt="plane" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">Please Login</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" 
                formControlName="uEmail" placeholder="name@example.com"
                [ngStyle]="{'border-color' : isValidationError('uEmail') ? 'red' : '#ced4da' }">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" 
                formControlName="uPassword" placeholder="Password"
                [ngStyle]="{'border-color' : isValidationError('uPassword') ? 'red' : '#ced4da' }">
                <label for="floatingPassword">Password</label>
            </div>
            <br>
            <button class="w-100 btn btn-lg btn-success" type="submit" (click)="login()">Sign In</button>
        </form>
    </main>
</div>